ui-selected-room(v-ref="selectedRoom")
.row
    .column
        .ui.center.aligned.raised.segment
            h3.ui.header
                i.ticket.icon
                .content Booking information

            ui-start-time
            ui-end-time

ui-attendees(v-ref="attendees")
