.ui.raised.top.attached.segment.grid
    .column
        a.ui.basic.icon.button(v-on="click: previous")
            i.angle.left.icon
    .fourteen.wide.column
        h1.ui.center.aligned.header {{date}}
    .column
        a.ui.basic.icon.button(v-on="click: next")
            i.angle.right.icon
