.ui.attached.raised.segment(v-class="loading: isLoading")

    h3.ui.header
        i.settings.icon
        .content Rooms
            .sub.header All the available rooms

    .ui.two.doubling.cards
        .card(v-repeat="rooms | filterBy filters.roomName in 'name'" v-transition="fade")
            .content
                .header {{name}}
                .meta
                    span {{location}}
                    .right.floated
                        i.users.icon
                        | {{capacity}}

            .image: img(v-attr="src: 'https://challenges.1aim.com/roombooking/' + images[0]")

            .content
                //.header Availability
                .description
                    ui-timebar
                .header Equipment
                .description
                    .ui.divided.horizontal.list
                        .item(v-repeat="equipment"): .content {{$value}}

            .extra.content
                span.right.floated {{size}}

            .ui.bottom.attached.inverted.blue.button
                i.plus.icon
                | Book