.row
    .column
        h1.ui.center.aligned.attached.inverted.orange.header 12/1/2015
        .ui.loading.raised.segment
            h3.ui.header
                i.settings.icon
                .content Rooms
                    .sub.header All the available rooms
