.row
    .column
        .logo
            img(v-attr="src: 'assets/img/oneaim_logo.png'")
        ui-datepicker(v-ref="datepicker")
        ui-filters(v-ref="filters")
        ui-rooms-list(v-ref="roomsList")
