.ui.horizontal.header.divider
    .ui.blue.horizontal.label End Time
.ui.compact.selection.dropdown(v-el="hour" v-class="disabled: isDisabled")
    .text hour
    i.dropdown.icon
    .menu
        .item(v-repeat="availability") {{* $key}}

i.minus.icon

.ui.compact.selection.dropdown(v-el="minute" v-class="disabled: isDisabled")
    .text minute
    i.dropdown.icon
    .menu
        .item(v-repeat="minutes") {{* $value}}