
.row
    .column
        .ui.raised.segment
            h3.ui.header
                i.users.icon
                .content Attendees
                    .sub.header Who is attending this meeting? (Drag and drop members to the "Attending" box)

            .ui.segment.members-draggable
                .ui.ribbon.label All members
                a.ui.right.green.massive.corner.label(v-show="!isAddingMember" v-on="click: isAddingMember = true")
                    i.plus.icon
                ui-organization-members

            .ui.grid(v-if="isAddingMember" v-transition="fade-down")
                .column
                    ui-add-member

            .ui.segment.members-draggable
                .ui.green.ribbon.label Attending
                ui-selected-members
