
.row
    .column
        .ui.raised.segment
            h3.ui.header
                i.users.icon
                .content Attendees
                    .sub.header Who is attending this meeting?

            organization-members