
.row
    .column
        .ui.raised.segment
            h3.ui.header
                i.users.icon
                .content Attendees
                    .sub.header Who is attending this meeting? (Drag and drop members to the "Attending" box)

            .ui.segment
                .ui.ribbon.label All members
                ui-organization-members
            .ui.segment
                .ui.green.ribbon.label Attending
                ui-selected-members