.ui.large.relaxed.horizontal.selection.list
    .item(v-repeat="members")
        img.ui.avatar.image(src="https://pbs.twimg.com/profile_images/3340765613/a2786703b889aae5910044a043879fbc_bigger.jpeg")
        .content
            .header {{name}}